body {
  background-color: #f3f5f7;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  background-color: #fff;
  text-align: center;
  width: 80vw;
  height: 100%;
  border-radius: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.container-redirect {
  margin-top: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 15px;
  background-color: #92e3a9;
  border-radius: 3px;
  width: 250px;
  margin-bottom: 30px;
  color: #fff;
  box-shadow: 2px 2px 1em #ccc;
}

.skip {
  color: #92e3a9;
}

@media screen and (max-width: 285px) {
  body {
    background: #fff;
  }
  .container img {
    width: 90%;
  }
  .btn {
    width: 88vw;
  }

  .title {
    font-size: 18px;
  }
}

@media screen and (min-width: 285px) and (max-width: 769px) {
  .container {
    width: 95vw;
    height: 100vh;
    margin: 0;
  }
  body {
    background: #fff;
  }
}
